*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: "Georgia", serif;
}

header {
  text-align: center;
}

.logo {
  width: 200px;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
}

button, [role=button] {
  cursor: pointer;
}